@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model List<Category>


    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-info">Category List</h3>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                  <i class="bi bi-plus-circle"></i>  Create New Category
                </a>
            </div>
        </div>
    </div>

     
    <table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-success">
        <tr>
            <th>
                Category List
            </th>
            <th>
                Description
            </th>
            <th>
                Display Order
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider" >
        @if(Model.Count>=1 && Model !=null)
        {
            
        @foreach(var data in Model.OrderBy(u=>u.Name))
        {
        <tr class="table-light">
            <td>@data.Name</td>
            <td>@data.Description</td>
            <td>@data.DisplayOrder</td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-Id="@data.Id" class="btn btn-info btn-sm mx-2">
                            <i class="bi bi-pencil-square"></i>Edit
                    </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@data.Id" class="btn btn-danger btn-sm mx-2">
                            <i class="bi bi-trash3"></i>Delete
                        </a>
                </div>
            </td>
        </tr>
            }
        }
        else
        {
            <td colspan="4">  
                <div class="text-body-emphasis">

                No Item available
                </div>
            </td>
        }
    </tbody>
    </table>