
@model ProductVM




<div>
	<form method="post" enctype="multipart/form-data">
		<input asp-for="Product.Id" hidden />
		<input asp-for="@Model.Product.Image" hidden />
		<div class="row">
			<div class="col-9">
				<div class="border p-3 mt-4">
					<div class="row pb-2">
						<h2 class="text-info">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
						<hr />
					</div>
					<div asp-validation-summary="All" class="text-danger-emphasis"></div>
					<div class="mb-3 row">
						<label asp-for="Product.Title" class="p-0"></label>
						<input asp-for="Product.Title" class="form-control" />
						<span asp-validation-for="Product.Title" class="text-danger"></span>
					</div>
					<div class="mb-3 row">
						<label asp-for="Product.Description" class="p-0 text-muted"></label>
						<textarea asp-for="Product.Description" class="form-control"></textarea>
					</div>
					<div class="mb-3 row">
						<label class="p-0" asp-for="Product.Author"></label>
						<input asp-for="Product.Author" class="form-control" />
						<span asp-validation-for="Product.Author" class="text-danger"></span>
					</div>
					<div class="mb-3 row">
						<label class="p-0" asp-for="Product.ISBN"></label>
						<input asp-for="Product.ISBN" class="form-control" />
						<span asp-validation-for="Product.ISBN" class="text-danger"></span>
					</div>
					<div class="mb-3 row">
						<label class="p-0" asp-for="Product.ListPrice"></label>
						<input asp-for="Product.ListPrice" class="form-control" />
						<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
					</div>
					<div class="mb-3 row">
						<label class="p-0" asp-for="Product.Price"></label>
						<input asp-for="Product.Price" class="form-control" />
						<span asp-validation-for="Product.Price" class="text-danger"></span>
					</div>
					<div class="mb-3 row">
						<select class="p-0 form-select" asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList">
							<option disabled selected>--Select Category</option>
						</select>
						<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
					</div>

					<div class="mb-3 row">
						<label class="p-0" asp-for="Product.Image"></label>
						<input type="file" class="form-control shadow" name="productimg" />

					</div>
					<div class="row">
						<div class="col-6 col-md-3">
							@if (Model.Product.Id != 0)
							{
								<button type="submit" class="btn btn-outline-info">Update</button>
							}
							else
							{
								<button type="submit" class="btn btn-outline-success">Create</button>
							}
						</div>
						<div class="col-6 col-md-3">
							<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
						</div>

					</div>
				</div>
			</div>
			<div class="col-3 col-sm-3">
				<div class="mt-4 ">

				<img src="@Model.Product.Image" class="img-thumbnail" />
				</div>
			</div>
		</div>
		
	</form>
</div>




@section Scripts{
    <script src="~/js/product/upsert.js"></script>

	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}