
@model CartVM


<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>List Price</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Net Price</th>
            <th>Remove</th>
        </tr>

    </thead>
    <tbody>
        @if (Model is null)
        {
            <tr>
                <td>No Item Available</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.BasketItems)
            {
                <tr>
                    <td>@item.Product.Title</td>
                    <td>
                        <span class="text-decoration-line-through">
                            @item.Product.ListPrice
                        </span>
                    </td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.NetPrice</td>
                    <td><a asp-action="Remove" asp-controller="Cart" class="btn btn-outline-danger" asp-route-itemid=@item.Id>Remove</a></td>
                </tr>
            }
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total Items = @Model.Cart.ItemCount</td>
            <td>Grand Total = @Model.Cart.GrandTotalPrice</td>
            <td><a asp-controller="Checkout" asp-action="Index" class="btn btn-outline-info">Checkout</a>  </td>
        </tr>
    </tfoot>
</table>
